
<h2> Welcome to Your Cellar, <%= @current_user.name%>! </h2>

<%= link_to '< Edit Details >', edit_user_path(@current_user.id) %>
<br><br>
<%# <%= link_to 'Delete', user_path(@current_user.id), method: 'delete' %> 

<!---add checks for user wines and reviews here-->
        
<br>


<img src="https://images.unsplash.com/photo-1609238000857-303bf54099b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="reviewimage">
<br><br>

<h3 class="yourwines">Your Wines:</h3>
    <ul>

        <% @current_user.wines.each do |wine| %>
        <li>
        <%= link_to wine.name, wine_path(wine.id) %>
        </li>
        <% end %>

    </ul>
<br><br>

<h3 class="yourreviews">Your Reviews:</h3>
