
<h2> Welcome to Your Profile, <%= @current_user.name%>! </h2>

<%= link_to '< Edit Details >', edit_user_path(@current_user.id) %>
<br><br>
<%# <%= link_to 'Delete', user_path(@current_user.id), method: 'delete' %> 

<img src="https://media.architecturaldigest.com/photos/57c9a2aceb60378a7b40892c/2:1/w_5108,h_2553,c_limit/champagne-caves-wine-cellars-01.jpg" class="reviewimage">


<!---add loops for user wines and reviews here-->