
<h2>Welcome Connoisseur!</h2>

 <em><%= link_to 'Sign Up Here for Full Access', new_user_path %></em>
<br><br>


 <%= cl_image_tag("HERO_A_Fine_Wine_GettyImages-1226059057_1920x1280_oxgw6q", class: "homeimage") %>