
<h2>Welcome Connoisseur!</h2>
<%# <p> </p> %>
 <em><%= link_to 'Sign Up Here for Full Access', new_user_path %></em>
<br><br>

 <%# <img src="https://253qv1sx4ey389p9wtpp9sj0-wpengine.netdna-ssl.com/wp-content/uploads/2021/12/HERO_A_Fine_Wine_GettyImages-1226059057_1920x1280.jpg" class="homeimage"> %>

 <%= cl_image_tag("HERO_A_Fine_Wine_GettyImages-1226059057_1920x1280_oxgw6q", class: "homeimage") %>