
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@600&display=swap');

body {
    margin: 0 auto;
    text-align: center;
    background: rgb(51,52,52);
    background: linear-gradient(312deg, rgba(51,52,52,1) 0%, rgba(11,12,13,1) 100%);
    /*color:aliceblue;*/
    color: antiquewhite;
    font-family: 'Syne', sans-serif; 
}

h1 {
    font-size: 40px;
    margin-top: 10px;
}

h2 {
    color:antiquewhite;
}

label {
    margin-left: 10px;
}

input {
    margin-left: 10px;
    margin-bottom: 10px;
}

textarea {
    margin-left: 10px;
}

.w, .b {
    font-size: 60px;
}

footer {
    text-align: left;
    margin-left: 10px;
    color:antiquewhite;
}

a {
   text-decoration: none; 
   color: antiquewhite;
   padding: 2px;
   margin-top: 5px;
}

nav {
    padding: 2px;
    margin-top: 5px;
    background-image: url("https://thumbs.gfycat.com/BlissfulImpeccableChicken-size_restricted.gif");
    background-size: cover;
    background-repeat: no-repeat;
    color:antiquewhite;
}

a:hover {
    color:rgb(46, 198, 147);
}

li {
    list-style: none;
    padding: 3px;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

ul {
    margin: 0 auto;
    padding-left: 0;
    
}

.wine {
    max-width: 30vw;
    max-height: 50vh;
    display: inline-block;
    border-radius: 5px;
}

.region {
    max-width: 60vw;
    border-radius: 5px;
}

.homeimage {
    max-width: 70vw;
    border-radius: 5px;
}

.winelist {
    max-width: 50vw;
    margin-left: 40px;
    margin-top: 30px;
    border-radius: 3px;
}

.regionsimage {
    max-width: 50vw;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 100px;
    border-radius: 3px;
}

#winepage {
    display: flex;
    text-align: center;
    margin-left: 40px;
}

#regionpage {
    display: flex;
    text-align: center;
    margin-left: 40px;
    margin-top: 20px;
}

#regionindex {
    text-align: center;
}

.reviewimage {
    max-width: 70vw;
    border-radius: 5px;

}

.reviewlist {
    margin-left: 40px;
}

.review {
    max-width: 30vw;
    max-height: 40vh;
}

#reviewlist {
    margin-left: 20px;
    border: 2px solid grey;
    border-radius: 5px;
}

.error {
    color: rgb(229, 38, 38);
}

.errormsg {
    color: rgb(229, 38, 38);
}

.errorcreate {
    text-align: center;
}

.reviewform {
    text-align: left;
    margin-left: 20px;
    border: 2px solid grey;
    border-radius: 5px;
}

h3 {
    margin-left: 10px;
}

.newwineform {
    display: flex;
    margin-left: 100px;
    margin-right: 400px;
    padding-left: 20px;

}
.winepour {
    display: flex;
    max-height: 50vh;
    margin-left: 100px;
    border-radius: 5px;
}

select {
    margin-bottom: 10px;
}