
<h2> All Regions </h2>




<% if @current_user.present? %>
    <p><%= link_to 'BACK TO CELLAR',user_path(@current_user.id), class: 'backtocellar' %></p>
<% end %>
<%= link_to '--> Add a New Region <--', new_region_path %>

<div id="regionpage">

    

    <div id="regionimage">    
        <%= cl_image_tag("photo-1506377247377-2a5b3b417ebb_vadwns", class: "regionsimage") %>
    </div>

    <div id="regionindex">
        <ul>
        <% @regions.each do |region| %>
            <li>
                <%= link_to region.name, region_path(region.id) %>
            </li>
            <% end %>
        </ul>

    </div>


</div>