
<h2> All Regions </h2>



<%= link_to '--> Add a Favourite Region <--', new_region_path %>


<div id="regionpage">

    

    <div id="regionimage">    
        <img src="https://www.telegraph.co.uk/content/dam/travel/Spark/tourism-australia-2018/leeuwin-estate-margaret-river-australia-xlarge.jpg?imwidth=1200" class="regionsimage">
    </div>

    <div id="regionindex">
        <ul>
        <% @regions.each do |region| %>
            <li>
                <%= link_to region.name, region_path(region.id) %>
            </li>
            <% end %>
        </ul>

    </div>


</div>