
<h2> Add a Favourite Region </h2>


<div class="regionformpicture">
 <%= cl_image_tag("ales-maze-z0bACVUDTJM-unsplash_ouldpt", class: "regionsnew") %>

    <div class="regionform"> 
       <%= render partial: 'form' %>
    </div>

</div>