
<h2>All Reviews</h2>

<ul class="reviewlist">
 <% @reviews.each do |review| %>
    <li>
        <p><strong>Score:</strong> <%= link_to review.score, review_path(review.id)  %></p>

        <p><strong>Review: </strong><%= link_to review.description, review_path(review.id) %></p>
        
        
    </li>
    <% end %>
</ul>

