
<h2>All Reviews</h2>

<ul>
 <% @reviews.each do |review| %>
    <li>
        <%= link_to review.score, reviews_path(review.id)  %>

        <%= link_to review.description, reviews_path(review.id) %>
        
    </li>
    <% end %>
</ul>

<img src="https://media.architecturaldigest.com/photos/57c9a2aceb60378a7b40892c/2:1/w_5108,h_2553,c_limit/champagne-caves-wine-cellars-01.jpg" class="reviewimage">