
<h2> All Wines </h2>

<% if @current_user.present? %>
    <p><%= link_to 'BACK TO CELLAR',user_path(@current_user.id), class: 'backtocellar' %></p>
<% end %>

<div id="winepage">
    <div id="wineindex">
        
        <ul>

            <% @wines.each do |wine| %>
            <li>
            <%= link_to wine.name, wine_path(wine.id) %>
            </li>
            <% end %>

        </ul>
        
        <br>
    </div>
    
        
    <div id="listimage">
        <%# <img class="winelist" src="https://elitetraveler.com/wp-content/uploads/sites/8/2021/11/GettyImages-1144313965-e1636390152967.jpg">  %>
       <%= cl_image_tag("GettyImages-1144313965-e1636390152967_gclqnq", class: "winelist") %>
    </div>
</div>
