
<h2> Add a Fine Wine to the Collection</h2>

<div class="newwineform">
<%= render partial: 'form' %>

<img src="https://images.unsplash.com/photo-1547595628-c61a29f496f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2luZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60" class="winepour">

</div>