
<h2> Add a Fine Wine to the Collection</h2>
<br>

<div class="newwineform">

  <div class="addwine">
    <%= render partial: 'form' %>
  </div>
    <%= cl_image_tag("photo-1547595628-c61a29f496f0_eamxwn", class: "winepour") %> 

</div>